In [1]:
import pandas as pd
import pickle
import numpy as np

ticker = 'AAPL'
filename = '../../../Data_Store/Yah_Daily_Prices/Daily_Price_Data/{}.pk'.format(ticker)
with open(filename, 'rb') as file:
    # Change Index to timestamp for original Polygon Data
    # Change Index to Date for Yah Finance Data
    data = pd.DataFrame(pickle.load(file)).set_index('Date', drop=True)

In [2]:
data = data.fillna(0)
data['Pct_Change'] = data['Adj Close'].pct_change()
data['+_Change'] = data.apply(lambda x: x['Pct_Change'] if x['Pct_Change'] > 0.0 else np.nan, axis=1)
data['-_Change'] = data.apply(lambda x: x['Pct_Change'] if x['Pct_Change'] < 0.0 else np.nan, axis=1)
data['+_Sum'] = (data['+_Change'].rolling(window=14, min_periods=1).sum())/14.0
data['-_Sum'] = - (data['-_Change'].rolling(window=14, min_periods=1).sum())/14.0
data['RSI'] = [(100 - (100/(1+(data['+_Sum'][i]/data['-_Sum'][i])))) for i in range(0, len(data))]

In [4]:
data.head()

,High,Low,Open,Close,Volume,Adj Close,Pct_Change,+_Change,-_Change,+_Sum,-_Sum,RSI
Date,,,,,,,,,,,,
2000-01-03,1.004464,0.907924,0.936384,0.999442,535796800.0,0.856227,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,0.987723,0.903460,0.966518,0.915179,512377600.0,0.784038,-0.084310,NaN,-0.084310,NaN,0.006022,NaN
2000-01-05,0.987165,0.919643,0.926339,0.928571,778321600.0,0.795511,0.014634,0.014634,NaN,0.001045,0.006022,14.790168
2000-01-06,0.955357,0.848214,0.947545,0.848214,767972800.0,0.726669,-0.086538,NaN,-0.086538,0.001045,0.012203,7.889704
2000-01-07,0.901786,0.852679,0.861607,0.888393,460734400.0,0.761090,0.047368,0.047368,NaN,0.004429,0.012203,26.627427

In [5]:
data.tail()

,High,Low,Open,Close,Volume,Adj Close,Pct_Change,+_Change,-_Change,+_Sum,-_Sum,RSI
Date,,,,,,,,,,,,
2021-04-23,135.119995,132.160004,132.160004,134.320007,78657500.0,134.320007,0.018039,0.018039,NaN,0.008885,0.004152,68.151562
2021-04-26,135.059998,133.559998,134.830002,134.720001,66905100.0,134.720001,0.002978,0.002978,NaN,0.008922,0.004152,68.241289
2021-04-27,135.410004,134.110001,135.009995,134.389999,66015800.0,134.389999,-0.002450,NaN,-0.002450,0.007965,0.004327,64.798850
2021-04-28,135.020004,133.080002,134.309998,133.580002,106589600.0,133.580002,-0.006027,NaN,-0.006027,0.006591,0.004758,58.079563
2021-04-29,137.070007,132.449997,136.470001,133.479996,150777100.0,133.479996,-0.000749,NaN,-0.000749,0.005145,0.004811,51.676836